.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
sample.js
sample.html
server/public/favicon.ico
server/public/css/app~5a11b65b.ac31f49b.css
server/public/css/app~9fa10dbc.42c5aabe.css
server/public/css/app~748942c6.6c7214ca.css
server/public/js/addPost~31ecd969.6c65aa39.js
server/public/js/app~5a11b65b.720d887e.js
server/public/js/app~9fa10dbc.764bbfee.js
server/public/js/app~748942c6.ca554e04.js
server/public/js/changePw~7acbc910.fbd15939.js
server/public/js/chunk-vendors~00cb062a.4f52ef89.js
server/public/js/chunk-vendors~7d359b94.cc6cba87.js
server/public/js/chunk-vendors~33a18b39.306baca5.js
server/public/js/chunk-vendors~253ae210.80abee35.js
server/public/js/chunk-vendors~7274e1de.f017db49.js
server/public/js/chunk-vendors~0605657e.a9ab0c16.js
server/public/js/chunk-vendors~d2305125.3d6038fa.js
server/public/js/chunk-vendors~fdc6512a.37bcba2b.js
server/public/js/forgetPassword~697114f1.c67a2890.js
server/public/js/friend~31ecd969.0e379195.js
server/public/js/friend~myProfile~searchFriend~5c956a7a.c3a1ef8c.js
server/public/js/myProfile~31ecd969.4cc9c46e.js
server/public/js/searchFriend~344654ae.b659713e.js
server/public/js/workoutPlan~c6d7869a.30fd4217.js
